@{
    ViewBag.Title = "Home Page";
}

    <meta charset="UTF-8">

<script>
    $(document).ready(function () {
        findWeatherDetails();
		//$("#owl-demo").owlCarousel({
		//  autoPlay: 3000, //Set AutoPlay to 3 seconds

		//  items : 3,
		//  itemsDesktop : [768,3],
		//  itemsDesktopSmall : [414,4]

		//});

	});
</script>
<!-- sky icons -->

       
@*<script>
    $(document).ready(function () {
        //searchButton.addEventListener("click", findWeatherDetails);
        //searchInput.addEventListener("keyup", enterPressed);
    });
</script>*@
   
     
<!-- main -->
<div class="main-agileits">
    <h1>Weather Report</h1>
    <div class="ajax-loader">
        <img src="../Images/loader.gif" class="img-responsive" />
    </div>
    <div class="main-wthree-row">
        <div class="agileinfo-text">
            <div class="date">
                <!-- Date-JavaScript -->
                <script type="text/javascript">
						var mydate=new Date()
						var year=mydate.getYear()
						if(year<1000)
						year+=1900
						var day=mydate.getDay()
						var month=mydate.getMonth()
						var daym=mydate.getDate()
						if(daym<10)
						daym="0"+daym
						var dayarray=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
						var montharray=new Array("January","February","March","April","May","June","July","August","September","October","November","December")
						document.write(""+dayarray[day]+" <br> "+daym+"  "+montharray[month]+"  "+year+"")
                </script>
                <!-- //Date-JavaScript -->
            </div>
            <h2 id="temp">24<span>°</span></h2>
            <h4>Nashik</h4>
            <h6 id="Icon">Rain Falling</h6>
        </div>
        <div class="w3layouts-slider">
            <div id="owl-demo" class="owl-carousel owl-theme">
                <div class="item agile-item">
                    <canvas id="sleet" width="40" height="40"></canvas>
                    <h6>Thr</h6>
                </div>
                <div class="item agile-item">
                    <canvas id="rain" width="40" height="40"></canvas>
                    <h6>Fri</h6>
                </div>
                <div class="item agile-item">
                    <canvas id="partly-cloudy-day" width="40" height="40"></canvas>
                    <h6>Sat</h6>
                </div>
                <div class="item agile-item">
                    <canvas id="cloudy" width="40" height="40"></canvas>
                    <h6>Sun</h6>
                </div>
                <div class="item agile-item">
                    <canvas id="clear-night" width="40" height="40"></canvas>
                    <h6>Mon</h6>
                </div>
                <div class="item agile-item">
                    <canvas id="clear-day" width="40" height="40"></canvas>
                    <h6>Tue</h6>
                </div>
                <div class="item agile-item">
                    <canvas id="partly-cloudy-night" width="40" height="40"></canvas>
                    <h6>Wed</h6>
                </div>
            </div>
            <script>
					
            </script>
        </div>
    </div>
    
</div>

<!-- //main -->
<!-- copyrights -->  


     
      



  

